.home-page .top-kickers {
	display: flex;
	justify-content: space-around;
	margin: 50px auto;
}

.home-page .bottom-kickers {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 50px auto;
	width: 90%;
	max-width: 1200px;
	height: auto;
}

.home-page .bottom-kickers img {
	margin: 15px;
}
